
#postButton{
    float : right;
    border: none;
    padding: 7px;
    border-radius: 5px;
    background-color: green;
    font-weight: 500;
    margin-right: 20px;
    cursor: pointer;
    color: white;
}

.shareHr {
    margin: 20px;
}

.commentInput {
    height: 50px;
    border-radius: 10px;
    width : 70%;
    border: 1px solid gray;
    font-size: 18px;
    padding-left: 20px;
}

.commentInput:focus {
    outline: none;
}