<div class="topbarContainer">
    <div class="topbarLeft">
        <a class="logo" routerLink="">Askme</a>
    </div>
    <div class="topbarCentre">
        <div class="searchbar">
            <mat-icon>search</mat-icon>
            <input placeholder="Search for questions , spaces or any user" class="searchInput" />
        </div>
    </div>
    <div class="topbarRight">
        <div class="topbarLinks">
            <span class="topbarLink">Home Page</span>
            <span class="topbarLink">Timeline</span>
        </div>
        <div class="topbarIcons">
            <div class="topbarIconItem">
                <mat-icon>person</mat-icon>
                <span class="topbarIconBadge">1</span>
            </div>
            <div class="topbarIconItem">
                <mat-icon>chat</mat-icon>
                <span class="topbarIconBadge">2</span>
            </div>
            <div class="topbarIconItem">
                <mat-icon>notifications</mat-icon>
                <span class="topbarIconBadge">1</span>
            </div>
        </div>
        <img src="assets/persons/shiva.jpg" alt="" class="topbarImg" />
    </div>
</div>